html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(205,222,232);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:3px;}
.size{width:100%;min-width:1200px;min-height:144px;}
.cont{z-index:1;pointer-events:none;border:0;background-color:rgb(103,122,133);}
.pos-2{position:relative;margin-top:0;}
.vis-2{display:block;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-2{min-width:1200px;width:1200px;min-height:129px;}
.cont-2{z-index:3;pointer-events:auto;}
.para{padding-top:0;text-indent:0;margin-top:10.17pt;margin-bottom:-10.17pt;padding-right:0;text-align:center;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:47.25pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:80.77pt;letter-spacing:normal;}
.pos-4{position:relative;margin-top:-7px;}
.size-3{width:100%;min-width:1200px;min-height:161px;}
.cont-3{z-index:5;pointer-events:none;border:0;background-color:rgb(128,128,128);}
.pos-5{position:relative;margin-top:46px;}
.pos-6{position:relative;margin-left:101px;margin-top:0;}
.size-4{min-width:878px;width:878px;min-height:108px;}
.size-5{min-width:173px;width:173px;min-height:108px;height:108px;}
.cont-5{z-index:19;pointer-events:auto;}
.anchor{display:block;width:173px;}
.img{position:absolute;left:6px;width:162px;height:108px;top:0;border:0;}
.img-2{left:6px;width:162px;height:108px;top:0;}
.pos-7{position:relative;margin-left:35px;margin-top:11px;}
.size-6{min-width:102px;width:102px;min-height:82px;height:82px;}
.cont-6{z-index:20;pointer-events:auto;}
.anchor-2{display:block;width:102px;}
.img-3{position:absolute;left:10px;width:82px;height:82px;top:0;border:0;}
.img-4{left:10px;width:82px;height:82px;top:0;}
.pos-8{position:relative;margin-left:57px;margin-top:7px;}
.size-7{min-width:138px;width:138px;min-height:93px;height:93px;}
.cont-7{z-index:21;pointer-events:auto;}
.anchor-3{display:block;width:138px;}
.img-5{position:absolute;left:23px;width:93px;height:93px;top:0;border:0;}
.img-6{left:23px;width:93px;height:93px;top:0;}
.pos-9{position:relative;margin-left:59px;margin-top:15px;}
.size-8{min-width:124px;width:124px;min-height:79px;height:79px;}
.cont-8{z-index:22;pointer-events:auto;}
.anchor-4{display:block;width:124px;}
.img-7{position:absolute;left:23px;width:79px;height:79px;top:0;border:0;}
.img-8{left:23px;width:79px;height:79px;top:0;}
.pos-10{position:relative;margin-left:92px;margin-top:9px;}
.size-9{min-width:98px;width:98px;min-height:91px;height:91px;}
.cont-9{z-index:23;pointer-events:auto;}
.anchor-5{display:block;width:98px;}
.img-9{position:absolute;left:4px;width:91px;height:91px;top:0;border:0;}
.img-10{left:4px;width:91px;height:91px;top:0;}
.size-10{width:100%;min-width:1200px;min-height:543px;}
.cont-10{z-index:2;pointer-events:none;border:0;overflow:hidden;}
.fixed{background-attachment:fixed;background-image:url(../images/55dce3e6d2fc3-320.jpg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;box-shadow:0 2px 4px rgba(0,0,0,0.4);}
.pos-11{position:relative;margin-top:12px;}
.size-11{min-width:1200px;width:1200px;min-height:465px;}
.pos-12{position:relative;margin-left:0;margin-top:33px;}
.size-12{min-width:523px;width:523px;min-height:376px;height:376px;}
.cont-11{z-index:6;pointer-events:auto;}
.img-11{position:absolute;left:0;width:523px;height:327px;top:25px;border:0;}
.img-12{left:0;width:523px;height:327px;top:25px;}
.pos-13{position:relative;margin-left:14px;margin-top:0;}
.size-13{min-width:663px;width:663px;min-height:465px;}
.cont-12{z-index:7;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;margin-top:3.23pt;margin-bottom:-1.73pt;padding-right:0;text-align:center;}
.font-2{font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;font-size:17.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:27.77pt;letter-spacing:normal;}
.para-3{padding-top:0;text-indent:0;margin-top:3.23pt;margin-bottom:-3.23pt;padding-right:0;text-align:center;}
.pos-14{position:relative;margin-top:8px;}
.size-14{width:100%;min-width:1200px;min-height:466px;}
.cont-13{z-index:8;pointer-events:none;border:0;background-color:rgb(64,64,64);}
.pos-15{position:relative;margin-top:38px;}
.size-15{min-width:1200px;width:1200px;min-height:416px;}
.pos-16{position:relative;margin-left:0;margin-top:18px;}
.size-16{min-width:600px;width:600px;min-height:398px;}
.cont-14{z-index:9;pointer-events:auto;}
.para-4{padding-top:0;text-indent:0;margin-top:2.58pt;margin-bottom:-1.08pt;padding-right:0;text-align:center;}
.font-3{font-family:"Helvetica Neue", sans-serif;font-size:12.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:20.51pt;letter-spacing:normal;}
.para-5{padding-top:0;text-indent:0;margin-top:2.53pt;margin-bottom:-2.53pt;padding-right:0;text-align:center;}
.font-4{font-family:"Helvetica Neue", sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:20.04pt;letter-spacing:normal;}
.para-6{padding-top:0;text-indent:0;margin-top:2.58pt;margin-bottom:-2.58pt;padding-right:0;text-align:center;}
.font-5{font-family:"Helvetica Neue", sans-serif;font-size:12.00pt;font-weight:700;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:20.51pt;letter-spacing:normal;}
.pos-17{position:relative;margin-left:15px;margin-top:0;}
.size-17{min-width:585px;width:585px;min-height:408px;height:408px;}
.cont-15{z-index:10;pointer-events:auto;}
.img-13{position:absolute;left:0;width:585px;height:331px;top:38px;border:0;}
.img-14{left:0;width:585px;height:331px;top:38px;}
.pos-18{position:relative;margin-top:-12px;}
.size-18{width:100%;min-width:1200px;min-height:655px;}
.cont-16{z-index:12;pointer-events:none;border:0;overflow:hidden;}
.fixed-2{background-attachment:fixed;background-image:url(../images/chernaya-setka-apple-1920.jpg);background-color:rgb(64,64,64);background-repeat:no-repeat;background-position:50% 50%;background-clip:padding-box;}
.pos-19{position:relative;margin-top:108px;}
.size-19{min-width:1200px;width:1200px;min-height:527px;}
.pos-20{position:relative;margin-left:0;margin-top:16px;}
.size-20{min-width:548px;width:548px;min-height:504px;height:504px;}
.cont-17{z-index:13;pointer-events:auto;}
.img-15{position:absolute;left:0;width:548px;height:343px;top:80px;border:0;}
.img-16{left:0;width:548px;height:343px;top:80px;}
.pos-21{position:relative;margin-left:52px;margin-top:0;}
.size-21{min-width:600px;width:600px;min-height:527px;}
.cont-18{z-index:14;pointer-events:auto;}
.para-7{padding-top:0;text-indent:0;margin-top:2.74pt;margin-bottom:-1.24pt;padding-right:0;text-align:left;}
.font-6{font-family:"Helvetica Neue", sans-serif;font-size:12.75pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:21.79pt;letter-spacing:normal;}
.para-8{padding-top:0;text-indent:0;margin-top:2.69pt;margin-bottom:-2.69pt;padding-right:0;text-align:left;}
.font-7{font-family:"Helvetica Neue", sans-serif;font-size:12.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:21.29pt;letter-spacing:normal;}
.para-9{padding-top:0;text-indent:0;margin-top:2.74pt;margin-bottom:-2.74pt;padding-right:0;text-align:left;}
.font-8{font-family:"Helvetica Neue", sans-serif;font-size:12.75pt;font-weight:700;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:21.79pt;letter-spacing:normal;}
.font-9{font-family:"Helvetica Neue", sans-serif;font-size:12.75pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:21.29pt;letter-spacing:normal;}
.pos-22{position:relative;margin-top:-311px;}
.size-22{width:100%;min-width:1200px;min-height:150px;height:150px;}
.cont-19{z-index:4;pointer-events:none;border:0;background-color:rgb(184,200,210);}
.pos-23{position:relative;margin-top:-1px;}
.size-23{width:100%;min-width:1200px;min-height:852px;}
.cont-20{z-index:16;pointer-events:none;border-top:1px solid rgb(103,122,133);border-bottom:1px solid rgb(103,122,133);border-radius:4px;overflow:hidden;}
.fixed-3{background-attachment:fixed;background-image:url(../images/868750913-1920.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-clip:padding-box;box-shadow:-1px 2px 4px rgba(0,0,0,0.4);}
.pos-24{position:relative;margin-top:257px;}
.pos-25{position:relative;margin-left:600px;margin-top:0;}
.size-24{min-width:600px;width:600px;min-height:405px;height:405px;}
.cont-21{z-index:17;pointer-events:auto;}
.img-17{position:absolute;left:0;width:600px;height:300px;top:52px;border:0;}
.img-18{left:0;width:600px;height:300px;top:52px;}
.pos-26{position:relative;margin-top:-646px;}
.cont-22{z-index:11;pointer-events:none;border:0;background-color:rgb(184,200,210);}
.pos-27{position:relative;margin-top:-596px;}
.section-2{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.size-25{min-width:600px;width:600px;min-height:647px;}
.cont-23{z-index:18;pointer-events:auto;}
.para-10{padding-top:0;text-indent:0;margin-top:3.23pt;margin-bottom:-1.73pt;padding-right:0;text-align:left;}
.font-10{font-family:"Helvetica Neue", sans-serif;font-size:15.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:25.64pt;letter-spacing:normal;}
.para-11{padding-top:0;text-indent:0;margin-top:3.16pt;margin-bottom:-3.16pt;padding-right:0;text-align:left;}
.font-11{font-family:"Helvetica Neue", sans-serif;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:25.05pt;letter-spacing:normal;}
.para-12{padding-top:0;text-indent:0;margin-top:3.23pt;margin-bottom:-3.23pt;padding-right:0;text-align:left;}
.font-12{font-family:"Helvetica Neue", sans-serif;font-size:15.00pt;font-weight:700;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:25.64pt;letter-spacing:normal;}
.font-13{font-family:"Helvetica Neue", sans-serif;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:25.05pt;letter-spacing:normal;}
.pos-28{position:relative;margin-top:-52px;}
.size-26{width:100%;min-width:1200px;min-height:818px;}
.cont-24{z-index:15;pointer-events:none;border:0;overflow:hidden;}
.fixed-4{background-attachment:fixed;background-image:url(../images/3584-320.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-29{position:relative;margin-top:515px;}
.pos-30{position:relative;margin-left:777px;margin-top:0;}
.size-27{min-width:423px;width:423px;min-height:222px;}
.cont-25{z-index:24;pointer-events:auto;}
.wrapper{font-size:15px;line-height:1.4;height:222px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-31{position:relative;margin-left:0;margin-top:-469px;}
.size-28{min-width:1px;width:1px;min-height:1px;}
@media (min-width:960px) and (max-width:1199px) {
.pos{margin-top:2px;}
.size{min-width:960px;min-height:116px;}
.section{min-width:960px;width:960px;}
.size-2{min-width:960px;width:960px;min-height:104px;}
.para{margin-top:8.07pt;margin-bottom:-8.07pt;}
.font{font-size:37.50pt;line-height:64.10pt;}
.pos-4{margin-top:-6px;}
.size-3{min-width:960px;min-height:129px;}
.pos-5{margin-top:37px;}
.pos-6{margin-left:81px;}
.size-4{min-width:702px;width:702px;min-height:86px;}
.size-5{min-width:138px;width:138px;min-height:86px;height:86px;}
.anchor{width:138px;}
.img{left:5px;width:129px;height:86px;}
.img-2{left:5px;width:129px;height:86px;}
.pos-7{margin-left:28px;margin-top:9px;}
.size-6{min-width:82px;width:82px;min-height:65px;height:65px;}
.anchor-2{width:82px;}
.img-3{left:9px;width:65px;height:65px;}
.img-4{left:9px;width:65px;height:65px;}
.pos-8{margin-left:45px;margin-top:5px;}
.size-7{min-width:111px;width:111px;min-height:75px;height:75px;}
.anchor-3{width:111px;}
.img-5{left:18px;width:75px;height:75px;}
.img-6{left:18px;width:75px;height:75px;}
.pos-9{margin-left:47px;margin-top:12px;}
.size-8{min-width:99px;width:99px;min-height:63px;height:63px;}
.anchor-4{width:99px;}
.img-7{left:18px;width:63px;height:63px;}
.img-8{left:18px;width:63px;height:63px;}
.pos-10{margin-left:74px;margin-top:7px;}
.size-9{min-width:78px;width:78px;min-height:73px;height:73px;}
.anchor-5{width:78px;}
.img-9{left:3px;width:73px;height:73px;}
.img-10{left:3px;width:73px;height:73px;}
.size-10{min-width:960px;min-height:434px;}
.pos-11{margin-top:9px;}
.size-11{min-width:960px;width:960px;min-height:372px;}
.pos-12{margin-top:27px;}
.size-12{min-width:418px;width:418px;min-height:301px;height:301px;}
.img-11{width:418px;height:261px;top:20px;}
.img-12{width:418px;height:261px;top:20px;}
.pos-13{margin-left:12px;}
.size-13{min-width:530px;width:530px;min-height:372px;}
.para-2{margin-top:2.53pt;margin-bottom:-1.03pt;}
.font-2{font-size:13.50pt;line-height:21.73pt;}
.para-3{margin-top:2.53pt;margin-bottom:-2.53pt;}
.pos-14{margin-top:7px;}
.size-14{min-width:960px;min-height:433px;}
.pos-15{margin-top:30px;}
.size-15{min-width:960px;width:960px;min-height:333px;}
.pos-16{margin-top:14px;}
.size-16{min-width:480px;width:480px;min-height:319px;}
.para-4{margin-top:1.94pt;margin-bottom:-0.44pt;}
.font-3{font-size:9.00pt;line-height:15.38pt;}
.para-5{margin-top:1.90pt;margin-bottom:-1.90pt;}
.font-4{font-size:9.00pt;line-height:15.03pt;}
.para-6{margin-top:1.94pt;margin-bottom:-1.94pt;}
.font-5{font-size:9.00pt;line-height:15.38pt;}
.pos-17{margin-left:12px;}
.size-17{min-width:468px;width:468px;min-height:326px;height:326px;}
.img-13{width:468px;height:265px;top:30px;}
.img-14{width:468px;height:265px;top:30px;}
.pos-18{margin-top:0;}
.size-18{min-width:960px;min-height:454px;}
.fixed-2{background-image:url(../images/chernaya-setka-apple-1920-2.jpg);}
.pos-19{margin-top:0;}
.size-19{min-width:960px;width:960px;min-height:422px;}
.pos-20{margin-top:10px;}
.size-20{min-width:438px;width:438px;min-height:403px;height:403px;}
.img-15{width:438px;height:274px;top:64px;}
.img-16{width:438px;height:274px;top:64px;}
.pos-21{margin-left:42px;}
.size-21{min-width:480px;width:480px;min-height:422px;}
.para-7{margin-top:2.10pt;margin-bottom:-0.60pt;}
.font-6{font-size:9.75pt;line-height:16.67pt;}
.para-8{margin-top:2.05pt;margin-bottom:-2.05pt;}
.font-7{font-size:9.75pt;line-height:16.28pt;}
.para-9{margin-top:2.10pt;margin-bottom:-2.10pt;}
.font-8{font-size:9.75pt;line-height:16.67pt;}
.font-9{font-size:9.75pt;line-height:16.28pt;}
.pos-22{margin-top:-249px;}
.size-22{min-width:960px;min-height:120px;height:120px;}
.pos-23{margin-top:164px;}
.size-23{min-width:960px;min-height:572px;}
.fixed-3{background-image:url(../images/868750913-1920-2.jpg);}
.pos-24{margin-top:40px;}
.pos-25{margin-left:480px;}
.size-24{min-width:480px;width:480px;min-height:324px;height:324px;}
.img-17{width:480px;height:240px;top:42px;}
.img-18{width:480px;height:240px;top:42px;}
.pos-26{margin-top:-573px;}
.pos-27{margin-top:-533px;}
.section-2{min-width:960px;width:960px;}
.size-25{min-width:480px;width:480px;min-height:518px;}
.para-10{margin-top:2.58pt;margin-bottom:-1.08pt;}
.font-10{font-size:12.00pt;line-height:20.51pt;}
.para-11{margin-top:2.53pt;margin-bottom:-2.53pt;}
.font-11{font-size:12.00pt;line-height:20.04pt;}
.para-12{margin-top:2.58pt;margin-bottom:-2.58pt;}
.font-12{font-size:12.00pt;line-height:20.51pt;}
.font-13{font-size:12.00pt;line-height:20.04pt;}
.pos-28{margin-top:-42px;}
.size-26{min-width:960px;min-height:655px;}
.pos-29{margin-top:412px;}
.pos-30{margin-left:622px;}
.size-27{min-width:338px;width:338px;min-height:178px;}
.wrapper{height:178px;}
.pos-31{margin-top:-376px;}
}
@media (min-width:768px) and (max-width:959px) {
.pos{margin-top:2px;}
.size{min-width:768px;min-height:92px;}
.section{min-width:768px;width:768px;}
.size-2{min-width:768px;width:768px;min-height:83px;}
.para{margin-top:6.46pt;margin-bottom:-6.46pt;}
.font{font-size:30.00pt;line-height:51.28pt;}
.pos-4{margin-top:-4px;}
.size-3{min-width:768px;min-height:103px;}
.pos-5{margin-top:29px;}
.pos-6{margin-left:65px;}
.size-4{min-width:561px;width:561px;min-height:69px;}
.size-5{min-width:110px;width:110px;min-height:69px;height:69px;}
.anchor{width:110px;}
.img{left:3px;width:104px;height:69px;}
.img-2{left:3px;width:104px;height:69px;}
.pos-7{margin-left:23px;margin-top:7px;}
.size-6{min-width:65px;width:65px;min-height:52px;height:52px;}
.anchor-2{width:65px;}
.img-3{left:7px;width:52px;height:52px;}
.img-4{left:7px;width:52px;height:52px;}
.pos-8{margin-left:36px;margin-top:4px;}
.size-7{min-width:89px;width:89px;min-height:60px;height:60px;}
.anchor-3{width:89px;}
.img-5{left:15px;width:60px;height:60px;}
.img-6{left:15px;width:60px;height:60px;}
.pos-9{margin-left:38px;margin-top:10px;}
.size-8{min-width:79px;width:79px;min-height:50px;height:50px;}
.anchor-4{width:79px;}
.img-7{left:15px;width:50px;height:50px;}
.img-8{left:15px;width:50px;height:50px;}
.pos-10{margin-left:59px;margin-top:6px;}
.size-9{min-width:62px;width:62px;min-height:58px;height:58px;}
.anchor-5{width:62px;}
.img-9{left:2px;width:58px;height:58px;}
.img-10{left:2px;width:58px;height:58px;}
.size-10{min-width:768px;min-height:347px;}
.pos-11{margin-top:7px;}
.size-11{min-width:768px;width:768px;min-height:298px;}
.pos-12{margin-top:22px;}
.size-12{min-width:334px;width:334px;min-height:240px;height:240px;}
.img-11{width:334px;height:209px;top:15px;}
.img-12{width:334px;height:209px;top:15px;}
.pos-13{margin-left:10px;}
.size-13{min-width:424px;width:424px;min-height:298px;}
.para-2{margin-top:1.97pt;margin-bottom:-0.47pt;}
.font-2{font-size:10.50pt;line-height:16.90pt;}
.para-3{margin-top:1.97pt;margin-bottom:-1.97pt;}
.pos-14{margin-top:6px;}
.size-14{min-width:768px;min-height:346px;}
.pos-15{margin-top:24px;}
.size-15{min-width:768px;width:768px;min-height:266px;}
.pos-16{margin-top:11px;}
.size-16{min-width:384px;width:384px;min-height:255px;}
.para-4{margin-top:1.45pt;margin-bottom:0.05pt;}
.font-3{font-size:6.75pt;line-height:11.54pt;}
.para-5{margin-top:1.42pt;margin-bottom:-1.42pt;}
.font-4{font-size:6.75pt;line-height:11.27pt;}
.para-6{margin-top:1.45pt;margin-bottom:-1.45pt;}
.font-5{font-size:6.75pt;line-height:11.54pt;}
.pos-17{margin-left:10px;}
.size-17{min-width:374px;width:374px;min-height:260px;height:260px;}
.img-13{width:374px;height:211px;top:25px;}
.img-14{width:374px;height:211px;top:25px;}
.pos-18{margin-top:0;}
.size-18{min-width:768px;min-height:363px;}
.fixed-2{background-image:url(../images/chernaya-setka-apple-1920-3.jpg);}
.pos-19{margin-top:0;}
.size-19{min-width:768px;width:768px;min-height:338px;}
.pos-20{margin-top:8px;}
.size-20{min-width:350px;width:350px;min-height:322px;height:322px;}
.img-15{width:350px;height:219px;top:51px;}
.img-16{width:350px;height:219px;top:51px;}
.pos-21{margin-left:34px;}
.size-21{min-width:384px;width:384px;min-height:338px;}
.para-7{margin-top:1.61pt;margin-bottom:-0.11pt;}
.font-6{font-size:7.50pt;line-height:12.82pt;}
.para-8{margin-top:1.58pt;margin-bottom:-1.58pt;}
.font-7{font-size:7.50pt;line-height:12.53pt;}
.para-9{margin-top:1.61pt;margin-bottom:-1.61pt;}
.font-8{font-size:7.50pt;line-height:12.82pt;}
.font-9{font-size:7.50pt;line-height:12.53pt;}
.pos-22{margin-top:-199px;}
.size-22{min-width:768px;min-height:96px;height:96px;}
.pos-23{margin-top:131px;}
.size-23{min-width:768px;min-height:458px;}
.fixed-3{background-image:url(../images/868750913-1920-3.jpg);}
.pos-24{margin-top:32px;}
.pos-25{margin-left:384px;}
.size-24{min-width:384px;width:384px;min-height:259px;height:259px;}
.img-17{width:384px;height:192px;top:33px;}
.img-18{width:384px;height:192px;top:33px;}
.pos-26{margin-top:-459px;}
.pos-27{margin-top:-427px;}
.section-2{min-width:768px;width:768px;}
.size-25{min-width:384px;width:384px;min-height:415px;}
.para-10{margin-top:1.94pt;margin-bottom:-0.44pt;}
.font-10{font-size:9.00pt;line-height:15.38pt;}
.para-11{margin-top:1.90pt;margin-bottom:-1.90pt;}
.font-11{font-size:9.00pt;line-height:15.03pt;}
.para-12{margin-top:1.94pt;margin-bottom:-1.94pt;}
.font-12{font-size:9.00pt;line-height:15.38pt;}
.font-13{font-size:9.00pt;line-height:15.03pt;}
.pos-28{margin-top:-34px;}
.size-26{min-width:768px;min-height:524px;}
.pos-29{margin-top:330px;}
.pos-30{margin-left:498px;}
.size-27{min-width:270px;width:270px;min-height:142px;}
.wrapper{height:142px;}
.pos-31{margin-top:-301px;}
}
@media (min-width:480px) and (max-width:767px) {
.pos{margin-top:1px;}
.size{min-width:480px;min-height:58px;}
.section{min-width:480px;width:480px;}
.size-2{min-width:480px;width:480px;min-height:52px;}
.para{margin-top:4.03pt;margin-bottom:-4.03pt;}
.font{font-size:18.75pt;line-height:32.05pt;}
.pos-4{margin-top:-3px;}
.size-3{min-width:480px;min-height:65px;}
.pos-5{margin-top:18px;}
.pos-6{margin-left:41px;}
.size-4{min-width:350px;width:350px;min-height:44px;}
.size-5{min-width:68px;width:68px;min-height:44px;height:44px;}
.anchor{width:68px;}
.img{left:1px;width:66px;height:44px;}
.img-2{left:1px;width:66px;height:44px;}
.pos-7{margin-left:15px;margin-top:5px;}
.size-6{min-width:40px;width:40px;min-height:32px;height:32px;}
.anchor-2{width:40px;}
.img-3{left:4px;width:32px;height:32px;}
.img-4{left:4px;width:32px;height:32px;}
.pos-8{margin-left:23px;margin-top:3px;}
.size-7{min-width:56px;width:56px;min-height:37px;height:37px;}
.anchor-3{width:56px;}
.img-5{left:10px;width:37px;height:37px;}
.img-6{left:10px;width:37px;height:37px;}
.pos-9{margin-left:23px;margin-top:7px;}
.size-8{min-width:50px;width:50px;min-height:31px;height:31px;}
.anchor-4{width:50px;}
.img-7{left:10px;width:31px;height:31px;}
.img-8{left:10px;width:31px;height:31px;}
.pos-10{margin-left:37px;margin-top:4px;}
.size-9{min-width:38px;width:38px;min-height:36px;height:36px;}
.anchor-5{width:38px;}
.img-9{left:1px;width:36px;height:36px;}
.img-10{left:1px;width:36px;height:36px;}
.size-10{min-width:480px;min-height:217px;}
.pos-11{margin-top:4px;}
.size-11{min-width:480px;width:480px;min-height:186px;}
.pos-12{margin-top:14px;}
.size-12{min-width:209px;width:209px;min-height:150px;height:150px;}
.img-11{width:209px;height:131px;top:9px;}
.img-12{width:209px;height:131px;top:9px;}
.pos-13{margin-left:6px;}
.size-13{min-width:265px;width:265px;min-height:186px;}
.para-2{margin-top:1.12pt;margin-bottom:-0.37pt;}
.font-2{font-size:6.00pt;line-height:9.66pt;}
.para-3{margin-top:1.12pt;margin-bottom:-1.12pt;}
.pos-14{margin-top:3px;}
.size-14{min-width:480px;min-height:217px;}
.pos-15{margin-top:15px;}
.size-15{min-width:480px;width:480px;min-height:167px;}
.pos-16{margin-top:7px;}
.size-16{min-width:240px;width:240px;min-height:160px;}
.para-4{margin-top:0.81pt;margin-bottom:-0.06pt;}
.font-3{font-size:3.75pt;line-height:6.41pt;}
.para-5{margin-top:0.79pt;margin-bottom:-0.79pt;}
.font-4{font-size:3.75pt;line-height:6.26pt;}
.para-6{margin-top:0.81pt;margin-bottom:-0.81pt;}
.font-5{font-size:3.75pt;line-height:6.41pt;}
.pos-17{margin-left:6px;}
.size-17{min-width:234px;width:234px;min-height:163px;height:163px;}
.img-13{width:234px;height:132px;top:16px;}
.img-14{width:234px;height:132px;top:16px;}
.pos-18{margin-top:0;}
.size-18{min-width:480px;min-height:226px;}
.fixed-2{background-image:url(../images/chernaya-setka-apple-1920-4.jpg);}
.pos-19{margin-top:0;}
.size-19{min-width:480px;width:480px;min-height:211px;}
.pos-20{margin-top:5px;}
.size-20{min-width:219px;width:219px;min-height:201px;height:201px;}
.img-15{width:219px;height:137px;top:32px;}
.img-16{width:219px;height:137px;top:32px;}
.pos-21{margin-left:21px;}
.size-21{min-width:240px;width:240px;min-height:211px;}
.para-7{margin-top:0.97pt;margin-bottom:-0.22pt;}
.font-6{font-size:4.50pt;line-height:7.69pt;}
.para-8{margin-top:0.95pt;margin-bottom:-0.95pt;}
.font-7{font-size:4.50pt;line-height:7.52pt;}
.para-9{margin-top:0.97pt;margin-bottom:-0.97pt;}
.font-8{font-size:4.50pt;line-height:7.69pt;}
.font-9{font-size:4.50pt;line-height:7.52pt;}
.pos-22{margin-top:-124px;}
.size-22{min-width:480px;min-height:60px;height:60px;}
.pos-23{margin-top:82px;}
.size-23{min-width:480px;min-height:286px;}
.fixed-3{background-image:url(../images/868750913-1920-4.jpg);}
.pos-24{margin-top:20px;}
.pos-25{margin-left:240px;}
.size-24{min-width:240px;width:240px;min-height:162px;height:162px;}
.img-17{width:240px;height:120px;top:21px;}
.img-18{width:240px;height:120px;top:21px;}
.pos-26{margin-top:-287px;}
.pos-27{margin-top:-267px;}
.section-2{min-width:480px;width:480px;}
.size-25{min-width:240px;width:240px;min-height:259px;}
.para-10{margin-top:1.13pt;margin-bottom:-0.38pt;}
.font-10{font-size:5.25pt;line-height:8.97pt;}
.para-11{margin-top:1.11pt;margin-bottom:-1.11pt;}
.font-11{font-size:5.25pt;line-height:8.77pt;}
.para-12{margin-top:1.13pt;margin-bottom:-1.13pt;}
.font-12{font-size:5.25pt;line-height:8.97pt;}
.font-13{font-size:5.25pt;line-height:8.77pt;}
.pos-28{margin-top:-21px;}
.size-26{min-width:480px;min-height:328px;}
.pos-29{margin-top:206px;}
.pos-30{margin-left:311px;}
.size-27{min-width:169px;width:169px;min-height:89px;}
.wrapper{height:89px;}
.pos-31{margin-top:-189px;}
}
@media (max-width:479px) {
.pos{margin-top:1px;}
.size{min-width:320px;min-height:38px;}
.section{min-width:320px;width:320px;}
.size-2{min-width:320px;width:320px;min-height:34px;}
.para{margin-top:2.58pt;margin-bottom:-2.58pt;}
.font{font-size:12.00pt;line-height:20.51pt;}
.pos-4{margin-top:-2px;}
.size-3{min-width:320px;min-height:44px;}
.pos-5{margin-top:12px;}
.pos-6{margin-left:27px;}
.size-4{min-width:234px;width:234px;min-height:30px;}
.size-5{min-width:46px;width:46px;min-height:30px;height:30px;}
.anchor{width:46px;}
.img{left:1px;width:45px;height:30px;}
.img-2{left:1px;width:45px;height:30px;}
.pos-7{margin-left:10px;margin-top:4px;}
.size-6{min-width:26px;width:26px;min-height:21px;height:21px;}
.anchor-2{width:26px;}
.img-3{left:3px;width:21px;height:21px;}
.img-4{left:3px;width:21px;height:21px;}
.pos-8{margin-left:16px;margin-top:2px;}
.size-7{min-width:37px;width:37px;min-height:25px;height:25px;}
.anchor-3{width:37px;}
.img-5{left:6px;width:25px;height:25px;}
.img-6{left:6px;width:25px;height:25px;}
.pos-9{margin-left:15px;margin-top:5px;}
.size-8{min-width:34px;width:34px;min-height:21px;height:21px;}
.anchor-4{width:34px;}
.img-7{left:7px;width:21px;height:21px;}
.img-8{left:7px;width:21px;height:21px;}
.pos-10{margin-left:24px;margin-top:3px;}
.size-9{min-width:26px;width:26px;min-height:24px;height:24px;}
.anchor-5{width:26px;}
.img-9{left:1px;width:24px;height:24px;}
.img-10{left:1px;width:24px;height:24px;}
.size-10{min-width:320px;min-height:144px;}
.pos-11{margin-top:2px;}
.size-11{min-width:320px;width:320px;min-height:124px;}
.pos-12{margin-top:10px;}
.size-12{min-width:139px;width:139px;min-height:100px;height:100px;}
.img-11{width:139px;height:87px;top:6px;}
.img-12{width:139px;height:87px;top:6px;}
.pos-13{margin-left:4px;}
.size-13{min-width:177px;width:177px;min-height:124px;}
.para-2{margin-top:0.70pt;margin-bottom:0.05pt;}
.font-2{font-size:3.75pt;line-height:6.04pt;}
.para-3{margin-top:0.70pt;margin-bottom:-0.70pt;}
.pos-14{margin-top:2px;}
.size-14{min-width:320px;min-height:145px;}
.pos-15{margin-top:10px;}
.size-15{min-width:320px;width:320px;min-height:112px;}
.pos-16{margin-top:5px;}
.size-16{min-width:160px;width:160px;min-height:107px;}
.para-4{margin-top:0.48pt;margin-bottom:0.27pt;}
.font-3{font-size:2.25pt;line-height:3.85pt;}
.para-5{margin-top:0.47pt;margin-bottom:-0.47pt;}
.font-4{font-size:2.25pt;line-height:3.76pt;}
.para-6{margin-top:0.48pt;margin-bottom:-0.48pt;}
.font-5{font-size:2.25pt;line-height:3.85pt;}
.pos-17{margin-left:4px;}
.size-17{min-width:156px;width:156px;min-height:109px;height:109px;}
.img-13{width:156px;height:88px;top:11px;}
.img-14{width:156px;height:88px;top:11px;}
.pos-18{margin-top:0;}
.size-18{min-width:320px;min-height:151px;}
.fixed-2{background-image:url(../images/chernaya-setka-apple-1920-5.jpg);}
.pos-19{margin-top:0;}
.size-19{min-width:320px;width:320px;min-height:141px;}
.pos-20{margin-top:3px;}
.size-20{min-width:146px;width:146px;min-height:134px;height:134px;}
.img-15{width:146px;height:91px;top:22px;}
.img-16{width:146px;height:91px;top:22px;}
.pos-21{margin-left:14px;}
.size-21{min-width:160px;width:160px;min-height:141px;}
.para-7{margin-top:0.65pt;margin-bottom:0.10pt;}
.font-6{font-size:3.00pt;line-height:5.13pt;}
.para-8{margin-top:0.63pt;margin-bottom:-0.63pt;}
.font-7{font-size:3.00pt;line-height:5.01pt;}
.para-9{margin-top:0.65pt;margin-bottom:-0.65pt;}
.font-8{font-size:3.00pt;line-height:5.13pt;}
.font-9{font-size:3.00pt;line-height:5.01pt;}
.pos-22{margin-top:-83px;}
.size-22{min-width:320px;min-height:40px;height:40px;}
.pos-23{margin-top:54px;}
.size-23{min-width:320px;min-height:191px;}
.fixed-3{background-image:url(../images/868750913-1920-5.jpg);}
.pos-24{margin-top:13px;}
.pos-25{margin-left:160px;}
.size-24{min-width:160px;width:160px;min-height:108px;height:108px;}
.img-17{width:160px;height:80px;top:14px;}
.img-18{width:160px;height:80px;top:14px;}
.pos-26{margin-top:-192px;}
.pos-27{margin-top:-179px;}
.section-2{min-width:320px;width:320px;}
.size-25{min-width:160px;width:160px;min-height:173px;}
.para-10{margin-top:0.65pt;margin-bottom:0.10pt;}
.font-10{font-size:3.00pt;line-height:5.13pt;}
.para-11{margin-top:0.63pt;margin-bottom:-0.63pt;}
.font-11{font-size:3.00pt;line-height:5.01pt;}
.para-12{margin-top:0.65pt;margin-bottom:-0.65pt;}
.font-12{font-size:3.00pt;line-height:5.13pt;}
.font-13{font-size:3.00pt;line-height:5.01pt;}
.pos-28{margin-top:-14px;}
.size-26{min-width:320px;min-height:219px;}
.pos-29{margin-top:137px;}
.pos-30{margin-left:207px;}
.size-27{min-width:113px;width:113px;min-height:60px;}
.wrapper{height:60px;}
.pos-31{margin-top:-126px;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.fixed{background-image:url(../images/55dce3e6d2fc3-640.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/3584-640.jpg);background-attachment:fixed;}
}
@media (min-width:320px) {
.fixed{background-image:url(../images/55dce3e6d2fc3-480.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/3584-480.jpg);background-attachment:fixed;}
}
@media (min-width:320px) and (-webkit-min-device-pixel-ratio:2),(min-width:320px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/55dce3e6d2fc3-960.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/3584-960.jpg);background-attachment:fixed;}
}
@media (min-width:480px) {
.fixed{background-image:url(../images/55dce3e6d2fc3-768.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/3584-768.jpg);background-attachment:fixed;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/55dce3e6d2fc3-1536.jpg);background-attachment:fixed;}
}
@media (min-width:768px) {
.fixed{background-image:url(../images/55dce3e6d2fc3-960-2.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/3584-960-2.jpg);background-attachment:fixed;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/55dce3e6d2fc3-1920.jpg);background-attachment:fixed;}
}
@media (min-width:960px) {
.fixed{background-image:url(../images/55dce3e6d2fc3-1200.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/3584-1200.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed{background-image:url(../images/55dce3e6d2fc3-1600.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/3584-1600.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed{background-image:url(../images/55dce3e6d2fc3-2000.jpg);background-attachment:fixed;}
.fixed-4{background-image:url(../images/3584-2000.jpg);background-attachment:fixed;}
}
